<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="calypso_dental_V2.id" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="calypso_dental_V2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <calypso_dental_V2.id>
            <setting name="Selected_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="inproc_id" serializeAs="String">
                <value>0</value>
            </setting>
        </calypso_dental_V2.id>
        <calypso_dental_V2.Settings>
            <setting name="data_source" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="initial_catalog" serializeAs="String">
                <value>localhost </value>
            </setting>
        </calypso_dental_V2.Settings>
    </userSettings>
</configuration>